[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 140

ij_typescript_use_semicolon_after_statement = true
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_align_multiline_parameters = false
ij_typescript_import_sort_module_name = true
ij_typescript_import_sort_members = true
ij_html_attribute_wrap = off
