/*html,*/
/*body {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
/*    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
/*}*/

/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Chrome, Safari, Edge, Opera */
  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-arrows[type=number] {
    -moz-appearance: textfield;
  }
}

* {
  @apply border-neutral-200 dark:border-neutral-700;
  @apply ring-red-500 ring-offset-1 dark:ring-offset-neutral-900;
}

*:focus-visible:not([style*="outline:"]) {
  @apply ring outline-none;
}

::selection {
  @apply bg-red-100 dark:bg-red-900;
}

body {
  @apply text-neutral-800 dark:bg-neutral-800 dark:text-white;
}
